.ProfileCard {
    padding: 20px;
    border: 2px solid var(--inverted-bg-color);
}

.main {
    .input {
        margin-top: 30px;
    }
}

.avatarWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.error {
    display: flex;
    justify-content: center;
    align-items: center;
}

.editing {
    border: 2px solid var(--warn-color);
}
