.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-wight);
    background: var(--inverted-bg-color);
    position: relative;
    transition: width 0.25s;
    display: flex;
    justify-content: center;
}

.switchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.lang {
    margin-left: 20px;
    color: var(--primary-color);
}

.collapsedBtn {
    position: absolute;
    bottom: 50%;
    right: -32px;
}

.items {
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.icon {
    height: var(--font-line-xl);
    width: var(--font-line-l);
}

.link {
    margin-left: 10px;
    opacity: 1;
}

.collapsed {
    width: var(--sidebar-wight-collapsed);

    .switchers {
        flex-direction: column;
        align-items: center;
    }

    .lang {
        margin-left: 0;
    }

    .link {
        opacity: 0;
        transition: 0.1s opacity;
        width: 0;
    }
}
