.item {
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.icon {
    height: var(--font-line-xl);
    width: var(--font-line-l);
}

.link {
    margin-left: 10px;
    opacity: 1;
}

.collapsed {
    width: var(--sidebar-wight-collapsed);
    display: flex;
    align-items: center;
    justify-content: center;

    .link {
        opacity: 0;
        transition: 0.1s opacity;
        width: 0;
    }
}
