.WrapperSelect {
    display: flex;
    flex-direction: column;
}

.title {
    margin-left: 2px;
}

.select {
    min-width: 80px;
    outline: none;
    background: var(--secondary-color);
    color: var(--primary-color);
    padding: 10px;
    border-bottom: 1px solid var(--primary-color);
}

.select:disabled {
    border: none;
    opacity: 1;
    background: var(--secondary-color);
    appearance: none;
}

.option {
    background: var(--inverted-bg-color);
    color: var(--inverted-primary-color);
}
