.app_blue_theme {
    --bg-color: rgb(102 155 188);
    --primary-color: rgb(37 36 34);
    --secondary-color: rgb(213 253 253);

    // Инвертированные цвета

    --inverted-bg-color: rgb(0 48 73);
    --inverted-primary-color: rgb(255 252 242);
    --inverted-secondary-color: rgb(64 61 57);
}
