.app_dark_theme {
    --bg-color: rgb(37 36 34);
    --primary-color: rgb(255 252 242);
    --secondary-color: rgb(64 61 57);

    // Инвертированные цвета

    --inverted-bg-color: rgb(255 252 242);
    --inverted-primary-color: rgb(37 36 34);
    --inverted-secondary-color: rgb(204 197 185);
}
