.app.dark {
    --bg-color: rgb(37 36 34);
    --inverted-bg-color: rgb(255 252 242);
    --primary-color: rgb(255 252 242);
    --secondary-color: rgb(235 94 40);
    --inverted-primary-color: rgb(37 36 34);
    --inverted-secondary-color: rgb(235 94 40);
}
