.app.light {
  --bg-color: rgb(255, 252, 242);
  --inverted-bg-color: rgb(37, 36, 34);

  --inverted-primary-color: rgb(255, 252, 242);
  --inverted-secondary-color: rgb(235, 94, 40);
  --primary-color: rgb(37, 36, 34);
  --secondary-color: rgb(235, 94, 40);
}
