.app_light_theme {
    --bg-color: rgb(255 252 242);
    --primary-color: rgb(37 36 34);
    --secondary-color: rgb(204 197 185);

    // Инвертированные цвета

    --inverted-bg-color: rgb(37 36 34);
    --inverted-primary-color: rgb(255 252 242);
    --inverted-secondary-color: rgb(64 61 57);

    // Цвета

    --card-color: rgb(204, 197, 185, 0.5);
}
