.CommentCard {
    margin: 5px 0;
    padding: 20px;
    border: 1px solid var(--secondary-color);

    .header {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-bottom: 15px;

        .avatar {
            height: 30px;
            width: 30px;
        }
    }
}
